<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455964864715-t66kuekrcck5c1btmqq51tfskpeu13af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455964864715-t66kuekrcck5c1btmqq51tfskpeu13af</string>
	<key>API_KEY</key>
	<string>AIzaSyDHws-7C3XlburM2KaxrIOL-R9Eou5cenI</string>
	<key>GCM_SENDER_ID</key>
	<string>455964864715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Warwick.Bouldering-Analyser</string>
	<key>PROJECT_ID</key>
	<string>bouldering-analyser</string>
	<key>STORAGE_BUCKET</key>
	<string>bouldering-analyser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:455964864715:ios:3fcc490f22b3f37a436b4e</string>
</dict>
</plist>
